@charset "UTF-8";
h1 {
  display: inline-block;
  font-size: 50px;
  border-bottom: solid rgb(113, 240, 113) 2px;
}

body {
  background: linear-gradient(to top, white, rgb(113, 240, 113));
}

.imageLink {
  margin-bottom: 50px;
}

.textLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.imageFixer {
  width: 100%;
}

/* ---------------------------------------------------Carrusel de imagenesCSS--------------------------------------------------------- */
/* Estilo para el carrusel */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  align-items: 50%;
}

/* Estilo para las imágenes */
.mySlides {
  display: none;
}

/* Estilo para los botones de navegación */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

/* Estilo para el botón "anterior" */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Estilo para el botón "siguiente" */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.headerNav {
  border: black solid 4px;
  background-color: white;
  width: 100%;
  height: 47px;
  padding-left: 0px;
  margin-left: 0px;
  z-index: 2;
}

.navLinks {
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  border-right: black solid 3px;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 2;
}

.navLinksFixer {
  margin-left: 0%;
  margin-right: 0%;
  padding-right: 0px;
}

.navFixer {
  width: 99.3%;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: rgb(113, 240, 113);
  border-radius: 3px;
}

.actualPage {
  background-color: rgb(113, 240, 113);
  z-index: 1;
}

footer {
  padding-top: 1px;
  margin-top: 100px;
  background-color: rgb(113, 240, 113);
}

.socialMediaLogos {
  height: 50px;
  margin-left: 5px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  display: inline-block;
}

.rights {
  text-align: end;
  margin-bottom: 0px;
}

.contactForm {
  padding: 2px;
  border: black solid 2px;
  background-color: rgb(113, 240, 113);
  border-radius: 6px;
  width: 500px;
  height: 360px;
}

input {
  font-size: 20px;
}

.labelSytle {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 6px;
}

.labelBottons {
  display: flex;
  justify-content: space-evenly;
}

/* --------------------------------------------------------ContactPhoneSCSS--------------------------------------------------------- */
@media (max-width: 515px) {
  .contactForm {
    border: solid black 2px;
    background-color: white;
    border-radius: 6px;
    width: 100%;
    height: 360px;
  }
}
.charactersImages {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.4s;
}

.charactersDescr {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.charactersFixer {
  width: 100%;
}

.charactersImages:hover {
  width: 180px;
  height: 180px;
}

.mainParagraph {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.paragraphStyle {
  font-family: "Times New Roman", Times, serif;
  color: rgb(113, 240, 113);
}

.chapterTitle {
  font-size: medium;
  color: rgb(113, 240, 113);
  font-weight: bold;
  padding-top: 7px;
  display: inline-flex;
  margin-top: 4px;
  margin-bottom: 4px;
}

.seasonTitle {
  font-size: large;
  color: rgb(113, 240, 113);
  text-decoration: underline;
}

.spoiler {
  font-size: xx-large;
  width: auto;
  display: flex;
  position: relative;
  left: 40%;
  display: inline-block;
  height: auto;
  justify-content: center;
  color: red;
  text-align: center;
}

/* -------------------------------------------------Cuadro de info capitulos---------------------------------------------------------- */
.container {
  position: relative;
  border: 2px solid rgb(113, 240, 113);
  padding: 10px;
  width: 80%;
  background-color: black;
  border-radius: 6px;
}

.arrow {
  position: absolute;
  top: 2%;
  right: 10px;
  transform: translateY(40%);
  cursor: pointer;
  color: white;
}

.content {
  display: none;
  margin-top: 10px;
}

.container p {
  margin: 0;
}
.container.expanded .content {
  display: block;
}

/* ----------------------------------------------------------IndexPhoneSCSS----------------------------------------------------------- */
@media (max-width: 991.27px) {
  .headerNav {
    border: black solid 4px;
    background-color: white;
    width: 100%;
    height: 48px;
    padding-top: 0%;
    padding-left: 0%;
    margin-left: 0px;
  }
  .colapseFixer {
    border: black solid 4px;
    background-color: white;
    width: 100%;
    height: 170px;
    padding-left: 0px;
    margin-left: 0px;
    z-index: 2;
  }
}
/* --------------------------------------------------------ContactPhoneSCSS--------------------------------------------------------- */
@media (max-width: 515px) {
  .contactForm {
    border: solid black 2px;
    background-color: white;
    border-radius: 6px;
    width: 100%;
    height: 360px;
  }
}

/*# sourceMappingURL=estilo.css.map */
