.charactersImages {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

.charactersDescr {
  @include anclas;
}

.charactersFixer {
  width: 100%;
}

.charactersImages:hover {
  width: 180px;
  height: 180px;
}