footer {
    padding-top: 1px;
    margin-top: 100px;
    background-color: $rickAndMortyColor;
}

.socialMediaLogos {
    height: 50px;
    margin-left: 5px;
}

.footerDiv {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.rights {
    text-align: end;
    margin-bottom: 0px;
}