.headerNav {
    border: black solid 4px;
    background-color: white;
    width: 100%;
    height: 47px;
    padding-left: 0px;
    margin-left: 0px;
    z-index: 2;
}

.navLinks {
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    border-right: black solid 3px;
    padding-left: 8%;
    padding-right: 8%;
    z-index: 2;
}

.navLinksFixer {
    margin-left: 1%;
}

.navFixer {
    padding: 0px;
}

header {
    background-color: $rickAndMortyColor;
    border-radius: 3px;
}

.actualPage {
    background-color: $rickAndMortyColor;
    z-index: 1;
}