.imageLink {
    margin-bottom: 50px;
  }
  
  .textLink {
   @include anclas;
  }

  /* ---------------------------------------------------Carrusel de imagenesCSS--------------------------------------------------------- */

  /* Estilo para el carrusel */

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    align-items: 50%;
  }
  
  /* Estilo para las imágenes */
  
  .mySlides {
    display: none;
  }
  
  /* Estilo para los botones de navegación */
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Estilo para el botón "anterior" */
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Estilo para el botón "siguiente" */
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  